#container{
    margin-top: 50px;
    height: 600px;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.aboutus {
    text-align: center;
    img{
        width: 100%;
        display: block;
    }
}
.adress{
    margin-left: 1rem;
    h2,h4{
        font-weight: 800;
    }
}
@media screen and(min-width:'768px'){
    .adress{
        margin-left: 4rem !important;
        
    }
}