li{

    list-style: none;
    padding: 5px;
}
i{
    font-style: normal;
}
.foot{
    background-color: #F3F3F3;
    color: #888888;
    font-weight: 600;
   
    
}
.foot-top{
   font-size: 14px;
   padding-top: 50px;
   border-bottom:1px solid #CCCCCC;
   line-height: 30px;
  
}
.title a{
    font-size: 18px;
    font-weight: 400;
    color:#666666;
    font-weight: 800;

    
}


.foot-bottom{
    text-align: center;
    height: 120px;
    padding-top: 20px;
    /* height: 100px;
    line-height: 100px; */
    font-size: 14px;
}
.foot{
    padding: 0 10px;

}